.content-area {
    display: flex;
    justify-content: center;
}
.form-image-container {
    display: flex;
    border: 1px solid var(--biru_1);
    width: clamp(300px, 70vw, 900px);
    border-radius: 14px;
    overflow: hidden;
}
.form-image {
    flex: 1;
    background: url(../images/form_img.png) no-repeat scroll center;
    background-size: cover;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 36px;
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
input {
    padding: 24px 24px;
    border-radius: 6px;
    border: none;
    background-color: var(--lightgray);
    color: var(--biru_1);
}
form div:last-child {
    display: flex;
    justify-content: end;
}
form div:last-child input{
    padding: 24px 64px;
    font-size: var(--content_md);
    border-radius: 16px;
    background: var(--biru_1);
    color: white;
    font-weight: 600;
}
form h1 {
    margin-bottom: 5vh;
    font-size: var(--title_md);
}
.lupa-password {
    display: flex;
    justify-content: space-between;
}
.lupa-password a {
    font-size: var(--content_md);
    color: var(--biru_2);
}
@media screen and (max-width: 768px) {
    .form-image {
        display: none;
    }
    .form-container {
        padding: 20px;
    }
    .lupa-password {
        flex-direction: column;
        align-items: end;
        gap: 14px;
    }
}