/*          judul            */
.hero .content-area {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero span {
    font-style: italic;
}
.hero .content-area > div {
    position: relative;
}
.hero .content-area > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 16vh 0 16vh 0;
    position: relative;
}
.hero .content-area > div:first-child .blur {
    background: var(--biru_4);
    transform: rotate(-12deg);
    left: 40%;
    top: 0;
}
.hero .content-area > div:last-child .blur {
    background: var(--purple);
    opacity: 0.8;
    left: 50%;
    top: 10%;
    rotate: -24deg;
}
.hero h1 {
    font-size: var(--title_lg);
}
.hero h2 {
    font-size: var(--title_md);
    z-index: 4;
}
    .hero p {
    font-size: var(--title_sm);
}


/*          card         */
.card-article .content-area {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.card-article .content-area > div {
    background: var(--lightgray);
    border-radius: 60px;
    padding: 40px;
}
.event-card div:first-child {
    background: var(--biru_3) url(../images/card-1.png) no-repeat scroll center;
    background-size: cover;
    border-radius: 30px;
    grid-column: span 4;
    display: flex;
    align-items: end;
    height: clamp(250px, 50vh, 400px);
    padding: 24px;
    color: white;
    font-size: var(--content-md);
}
.event-card div:last-child {
    grid-column: span 7;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.event-card div:last-child p {
    font-size: var(--content-lg);
    line-height: 200%;
}
@media screen and (max-width: 768px) {
    .event-card div:last-child {
        grid-column: span 8;   
    }
    .event-card div:first-child {
        grid-column: span 8;
    }
}
@media screen and (max-width: 600px) {
    .card-article .content-area {
        background: var(--lightgray);
        border-radius: 40px;
        padding: 20px;
    }
    .event-card div:last-child {
        grid-column: span 7;
        padding: 8px;
    }
    .event-card div:last-child button {
        font-size: var(--content-lg);
    }
}



/*        article         */
.article .content-area article {
    background: var(--lightgray);
    border-radius: 24px;
    padding: 40px;   
}
article p {
    font-size: var(--content-lg);
}